.memo_list_container{
	margin-bottom: 10px;
	margin-top: 130px;
}

.my-list-text{
 text-align: center;
 font-size: 3.2em;
 font-weight: 900;
 margin: 5px;

}

.list_scroll{
  display: flex;
	flex-direction: column;
	align-items: center;


  flex-wrap: wrap;
	/* align-content: center; */
  /* height: 900px; */
  overflow: auto;
	margin-top: 15px;

}

h1{
	font-weight: 900;
}

.list-video-item{
	width: 350px ;
	border-radius: 12px;
}

p.description{
	font-size: larger;
	padding: 20px;
	margin: 0px;
	border-radius: 5px;
	height: 120px;
	width: 430px;
	border: solid 1px;
}

.media-notes{
	/* padding: 20px */
	font-size: 12px;
}

.edit-button{
	display: flex;
	justify-content: end;
	font-size: bold 16px;
	border-radius: 4px;
	/* align-items: end; */
}

div.edit-button{
	border: none;
}
.edit{
	border: solid 1px gray;
	border-radius: 4px;
}

.memory-details{
	display:flex;
	flex-direction: row;
	gap: 150px;

}

.detail-info{
	height: 250px;
	width: 500px;
	border-radius: 15px;
	padding: 20px;
	
}
.media{

	height: 250px;
	width: 300px;
	border-radius: 10px;
}


.media-info{
	height: 200px;
	width: 200px;
}

ul {
	list-style: none; /* Removes bullet points */
	padding: 0; /* Optional: removes default padding */
}

.item{
	border-radius: 10px;
	padding: 20px;
	margin: 20px; 
	border: 1px solid #ccc;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Adds shadow to the div */
}

.my-list-text{
	align-items: center;
}




