.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
	box-sizing: border-box;
  width: 100vw;
  background: black;
	padding-left: 10%;
	padding-right: 10%;

}
.navbar-content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 5%;
}

/* Mobile layout */
@media (max-width: 1080px) {
	.navbar-content{
		display: flex;
		flex-direction: column;
		}

		.logo {
			width: 15%;
			/* width: 18%;
			padding-bottom: 0px;
			margin-top: 8px; */
		}
		.my-memories-text {
			margin: 1px;
		}
}

.logo{
	width: 15%;
	padding-bottom: 35px;
	padding-left: 20px;
}

.my-memories-text{
	color: whitesmoke;
	font-size: 2.5em;
	font-weight: 900;
}

.my-profile-text{
	color: whitesmoke;
	font-size: 1em;
	font-weight: 600;
}

.stick-create-button{
	background-color: rgba(95, 208, 78);
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	height: 75px;
}