.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
	box-sizing: border-box;
  width: 100vw;
  background: black;
  /* padding: 0 5vh; */
  display: flex;
	align-items: center;
	gap: 25%;

}

.logo{
	width: 12%;
	padding-bottom: 35px;
	padding-left: 20px;
}

.my-memories-text{
	color: whitesmoke;
	font-size: 2.5em;
	font-weight: 900;
}

.stick-create-button{
	background-color: rgba(95, 208, 78);
	width: 135px;
	height: 66px;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 12px;
	border: none;
	cursor: pointer;
}